* {
	margin: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 0;
}
:root {
	--font-family: 'Shentox', 'Rogan', sans-serif;
}
html,
body,
#svelte-main {
	min-height: 100vh;
}

#svelte-main {
	display: flex;
	flex-direction: column;
}
